<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>{{ page.title }}{% if page.url != '/index.html' %} - {{ site.title }}{% endif %}</title>
	<meta content="en-us" http-equiv="Content-Language" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-3.3.2.min.css" />
	<link rel="stylesheet" href="/assets/css/font-awesome-4.3.0.min.css" />
	<link rel="stylesheet" href="/assets/css/highlight-vs.css" />
	<link rel="stylesheet" href="/assets/css/site.css" />
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
</head>

<body>
	<header class="header">
		<div class="container">
			<img class="profile-image img-responsive pull-left" src="/assets/images/profile.png" alt="Paul Vaillant" height="85" width="85" />
			<div class="profile-content pull-left">
				<h1 class="name"><a href="/">Paul's UC &amp; Dev/Ops Blog</a></h1>
				<!-- <h2 class="desc">...</h2> -->
				<ul class="social list-inline">
					<li><a href="https://twitter.com/paulvaillant"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/paulvaillant"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/pvaillant"><i class="fa fa-github-alt"></i></a></li>
					<li><a href="/rss.xml"><i class="fa fa-rss"></i></a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container sections-wrapper">
		<div class="row">
			<div class="primary col-md-8 col-sm-12 col-xs-12">
				<section class="section{% if page.url == "/404.html" %} notfound{% endif %}">
					<div class="section-inner">
						<div class="content">
							{{content}}
						</div>
					</div>
				</section>
			</div>

			<div class="secondary col-md-4 col-sm-12 col-xs-12">
				<aside class="about aside section">
					<div class="section-inner">
						<h2 class="heading">About Me</h2>
						<div class="content">
							<p>Just a guy who writes software and makes cool products. Working hard every day to create things people love and want. Interested in telecom, web, mobile, embedded, green tech and beer.</p>
							<!-- <p><a href="https://about.me/paulvaillant">About Me</a></p> -->
							<a href="https://twitter.com/paulvaillant" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @paulvaillant</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
					</div>
				</aside>

				<aside class="projects aside section">
					<div class="section-inner">
						<h2 class="heading">Projects</h2>
						<ul class="content">
							<li><a href="https://github.com/thinktel/Backup-Lync">Backup-Lync.ps1</a></li>
							<li><a href="https://github.com/pvaillant/LyncUtilityBelt">Lync Utility Belt</a></li>
							<li><a href="https://github.com/ThinkTel/ThinkTel.LocalCallingGuide">ThinkTel.LocalCallingGuide</a></li>
							<li><a href="https://github.com/thinktel/ThinkTel.uControl.Api">ThinkTel.uControl.Api</a></li>
							<li><a href="https://github.com/thinktel/ThinkTel.uControl.Cdrs">ThinkTel.uControl.Cdrs</a></li>
						</ul>

						<p>Also check out the <a href="/scripts.html">various scripts</a> from this blog.</p>
					</div>
				</aside>

				<aside class="blog aside section">
					<div class="section-inner">
						<h3>Latest Posts</h3>
						<ul>
						{% for post in site.posts limit:5 %}
							<li><p><a href="{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%b %d, %Y" }}</p></li>
						{% endfor %}
						</ul>

						<h3>Tags</h3>
						<ul>
							<li><a href="/tag/dotnet.html">dotnet</a></li>
							<li><a href="/tag/LcsCDR.html">LcsCDR</a></li>
							<li><a href="/tag/LcsLog.html">LcsLog</a></li>
							<li><a href="/tag/licensing.html">licensing</a></li>
							<li><a href="/tag/LRS.html">LRS</a></li>
							<li><a href="/tag/Lync.html">Lync</a></li>
							<li><a href="/tag/Lync-SDK.html">Lync-SDK</a></li>
							<li><a href="/tag/NuGet.html">NuGet</a></li>
							<li><a href="/tag/Outlook.html">Outlook</a></li>
							<li><a href="/tag/Philips-Hue.html">Philips-Hue</a></li>
							<li><a href="/tag/PowerShell.html">PowerShell</a></li>
							<li><a href="/tag/projects.html">projects</a></li>
							<li><a href="/tag/QoEMetrics.html">QoEMetrics</a></li>
							<li><a href="/tag/sql.html">sql</a></li>
							<li><a href="/tag/ThinkTel.html">ThinkTel</a></li>
							<li><a href="/tag/uControl.html">uControl</a></li>
							<li><a href="/tag/Wi-Fi.html">Wi-Fi</a></li>
						</ul>

						<h3>Archive</h3>
						<ul>
						{% assign cnt2015 = 0 %}{% for page in (site.posts | where: "year","2015") %}{% capture cnt2015 %}{{ cnt2015 | plus:1 }}{% endcapture %}{% endfor %}
							<li><a href="/2015.html">2015 ({{ cnt2015 }})</a></li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container text-center">
			<small class="copyright">Design based on <a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank">Developer</a> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>.
				Content &copy; 2015 Paul Vaillant</small>
		</div>
	</footer>

	<script src="//static.getclicky.com/js" type="text/javascript"></script>
	<script type="text/javascript">try{ clicky.init(100820084); }catch(e){}</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100820084ns.gif" /></p></noscript>
	<script type="text/javascript" src="/assets/js/highlight.pack.js"></script>
	<!--
	<script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap-3.3.2.min.js"></script>
	-->
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();
		var disqus_shortname = 'paulvaillant';
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
</body>
</html>
